@using WebMatrix.Data;
@using WebMatrix.WebData;
@{

    // c# Database code
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Gift_database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);
    //Input giftkey code
    dynamic SelectGiftQuery = null;
    string key = Request["GiftKeyname"];
    if (key == null)
    {
        key = null;

        SelectGiftQuery = db.Query("SELECT Gift from Gifts where GiftKey = '0' Order by Priority");
    }
    else
    {
        SelectGiftQuery = db.Query("SELECT Gift from Gifts where GiftKey = '" + key + "'Order by Priority");
    }

    // choose gift code
    int count = 0;
    string SelectedGift = null;
    dynamic RemoveGiftQuery = null;
    dynamic RemoveGiftkeyQuery = null;
    RemoveGiftQuery = db.Query("SELECT Gift from Gifts where GiftKey = '" + key + "'");
    RemoveGiftkeyQuery = db.Query("SELECT GiftKey from Gifts where GiftKey = '" + key + "'");
    SelectedGift = Request["ChooseGift"];

    foreach (dynamic row in db.Query("SELECT Gift From Gifts "))
    {
        if (RemoveGiftQuery.Count != 0 && SelectedGift != null)
        {
            if (RemoveGiftQuery[count].Gift == SelectedGift && RemoveGiftkeyQuery[count].GiftKey == key)
            {

                db.Execute("DELETE FROM Gifts where Gift = '" + SelectedGift + "' AND Giftkey = '" + key + "'");

                Response.Redirect("~/index");
                break;
            }
            count++;
        }
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GiftTool</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <!--Navigatie header-->
    <nav>
        <div class="nav-wrapper red">
            <a href="~/index.cshtml" class="brand-logo right">GiftTool!</a>
            <ul id="nav-mobile" class="left">
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Layout here -->
    <!-- SideNav Button-->
    <div class=" row">
        <div class=" col s1 m1 l1">
            <ul>
                <li><a href="#" data-activates="slide-out" class="button-collapse waves-effect"><i class="material-icons">menu</i> </a></li>
            </ul>
        </div>
    </div>
    <!--GiftKey-->
    <form method="post">
        <div class="row center-align">
            <div class="col s5 m5 l5">

                <div class="input-field">
                    <input id="CollectioniD" type="text" name="GiftKeyname" value="@key" class="validate" />
                    <label for="CollectioniD"> GiftKey</label>
                </div>

                <div class=" col s1 m1 l1 center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>

                    </button>
                </div>

            </div>
        </div>
        <!--Name&Gift-->
        <div class="row center-align">
            <div class="col s5 m5 l5 ">
                <div class=" input-field col s10 m10 l10">
                    <select name="ChooseGift">
                        <option value="" disabled selected></option>
                        @{ int Giftcount = 0;
                            if (SelectGiftQuery.Count != 0)
                            {
                                foreach (dynamic row in db.Query("SELECT * FROM Gifts WHERE Giftkey = '" + key + "'"))
                                {
                                <option value="@SelectGiftQuery[Giftcount].Gift">@SelectGiftQuery[Giftcount].Gift</option>
                                    Giftcount++;
                                }
                            }
                            }
                        
                    </select>
                    <label>Choose your Gift</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <!-- GiftList-->
    <div class="row center-align">
        <div class=" col s5 m5 l5">
            <ul class="collection">
                @{Giftcount = 0;
                    if (key != null && SelectedGift == null)
                    {
                        foreach (dynamic row in db.Query("SELECT * FROM Gifts WHERE Giftkey = '" + key + "' ORDER BY Priority asc"))
                        {
                            <li class="collection-item waves-effect"><a href="@SelectGiftQuery[Giftcount].Gift">@SelectGiftQuery[Giftcount].Gift</a></li>
                            Giftcount++;
                        }
                    }
                }
            </ul>
        </div>
    </div>




    <!--Side NAV for Users-->
    <ul id="slide-out" class="side-nav">
        @{if (WebSecurity.IsAuthenticated == false)
        {
            <li>
                <a class="waves-effect" href="~/Account/LoginPage.cshtml"> LogIn  </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="waves-effect" href="~/Account/SignIn.cshtml">Signin</a>
            </li>
    }
             else
                 {
                    <li>
                        <a class="waves-effect" href="~/Account/Logout.cshtml">Logout <i class="material-icons">Logout</i></a>
                    </li>

                     }  
         }
        <li>
            <a class="waves-effect" href="~/Members/AccountPage.cshtml">Account <i class="material-icons">face</i></a>
        </li>
    </ul>

    @{ if (Request["ChooseGift"] != null)
        {
            Response.Redirect("~/index.cshtml");
        }
    }

    <!--Scripts-->
    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav();
        // initialize select dropdown
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</body>

</html>