@using WebMatrix.Data;
@using WebMatrix.WebData;
@{ // MemberShip Code



    // c# Database code
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Gift_database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    // form variable
    string ID = null;
    string Clist = null;
    Boolean refresh = false;
    var Creator_Name = WebSecurity.CurrentUserName;
    string Numberlist = Request["ChooseList"];
    if (Request["ChooseList"] != null)
    {
        Clist = Request["ChooseList"];
    }
    else
    {
        Clist = Session["NumberList"] as string;
    }
    dynamic giftkey = null;
    if (Session["NumberList"] as string != @Request["ChooseList"] && Session["Numberlist"] != null)
    {
        Numberlist = @Request["ChooseList"];
        Clist = Session["NumberList"] as string;
        //giftkey = Session["Giftkey"];
    }
    else
    {
        Clist = Session["NumberList"] as string;
    }
    if (Session["NumberList"] != null) { Clist = Session["NumberList"] as string; }

    int priority = 0;
    string strpriority = null;
    string CountList = null;
    dynamic Listvalue = null;
    string AddGift = "dont";




    dynamic Newlist = null;
    Newlist = Request["Newlist"];
    bool insertlist = false;
    List<string> Giftlist = new List<string>();
    List<string> oldgiftlist = new List<string>();
    List<int> Priority = new List<int>();
    string test = null;

    oldgiftlist = Session["GiftList"] as List<string>;




    if (Session["NumberList"] as string == null)
    {
        Numberlist = Request["ChooseList"];
    }
    else
    {
        test = Session["NumberList"] as string;
        Numberlist = test;
    }
    Session["NumberList"] = null;
    if (Newlist != null)
    {
        foreach (dynamic row in db.Query("select distinct Creators_ListID, count(Creators_ListID) as CountOf from Gifts Where Creator_Name= @0 group by Creators_ListID", Creator_Name))
        {
            int Liststring = row.Creators_Listid;
            if (Liststring.ToString() == Newlist)
            {
                insertlist = false;
                break;
            }
            else
            {
                insertlist = true;
            }

        }
        if (insertlist == true)
        {
            db.Execute("insert INTO Gifts (Gift,GiftKey,Priority,Creator_Name,Creators_ListID) VALUES('','1','1',@0,@1)", Creator_Name, Newlist);
        }
    }
    dynamic Giftquery = db.Query("Select * from Gifts where Creators_ListID = @0 AND Creator_Name = @1", Numberlist, Creator_Name);
    dynamic giftrequest = null;
    int listcount = 0;


    dynamic SelectListQueury = null;
    SelectListQueury = db.Query("select distinct Creators_ListID, count(Creators_ListID) as CountOf from Gifts Where Creator_Name=@0 group by Creators_ListID", Creator_Name);


    if (Request["Giftkey"] != null)
    {
        giftkey = Request["GiftKey"];
    } else
    {
        if (Giftquery.Count != 0)
        {
            giftkey = Giftquery[0].giftkey;
        }
    }
    List<string> alteredlist = new List<string>();
    int count = 0;

    if (oldgiftlist != null && Request["Gift" + count] != null)
    {
        foreach (dynamic row in oldgiftlist)
        {
            giftrequest = Request["Gift" + count];
            strpriority = Request["Priority Gift" + count];
            priority = Convert.ToInt16(strpriority);
            Priority.Add(priority);
            alteredlist.Add(giftrequest);
            count++;
        }
        count = 0;
        foreach (dynamic row in alteredlist)
        {
            db.Execute("update Gifts set Gift = @0 , GiftKey = @1, Priority = @2 where Gift = @3 AND Creators_ListID = @4 AND Creator_Name = @5 ", alteredlist[count], giftkey, Priority[count], oldgiftlist[count], Numberlist, Creator_Name);
            count++;
        }


    }


    if (SelectListQueury.Count == 0)
    {
        Newlist = 1;
        db.Execute("insert INTO Gifts (Gift,GiftKey,Priority,Creator_Name,Creators_ListID) VALUES('','1','1',@0,@1)", Creator_Name, Newlist);
    }
}


<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Render Shared Header-->
    @RenderPage("~/Shared/_Header.cshtml")

    <!-- Page Layout here -->
    <div class="row">
        <div class=" col s5 m5 l5">
            <form method="post">
                <div class="row">
                    <div class=" input-field col s10 m10 l10">
                        <select name="ChooseList">
                            <option value="@Numberlist" selected>@Numberlist  </option>
                            @{ int Giftcount = 0;
                                dynamic uniqueListID = db.Query("select distinct Creators_ListID, count(Creators_ListID) as CountOf from Gifts Where Creator_Name= @0 group by Creators_ListID", Creator_Name);
                                if (SelectListQueury.Count != 0)
                                {
                                    foreach (dynamic row in uniqueListID)
                                    {
                                        int CountListint = SelectListQueury[Giftcount].Creators_ListID;
                                        CountList = CountListint.ToString();
                                        <option value="@CountList"> @CountList </option>
                                        Giftcount++;

                                    }
                                    if (Request["ChooseList"] != null)
                                    {
                                        refresh = true;
                                    }
                                }
                            }
                        </select>
                        <label>Choose your GiftList</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        <form method="post">
            <div class=" = col s6 m6 l6">
                <div class=" input-field">
                    <input name="Newlist" id="Newlist" type="text" class="validate" value="@Newlist" />
                    <label for="Newlist">New list</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Create NewList
                </button>
            </div>
        </form>
    </div>



    <form method="post">
        @{

            int Listcount = 0;

            foreach (dynamic row in Giftquery)
            {
                String Name = "Gift" + Listcount;
                string PName = "Priority Gift" + Listcount;

                if (alteredlist.Count == 0)
                {
                    Listvalue = Giftquery[Listcount].Gift;
                    priority = Giftquery[Listcount].Priority;
                }
                else
                {
                    Listvalue = Giftquery[Listcount].Gift;
                    priority = Giftquery[Listcount].Priority;

                }
                <div class="input-field col s6">
                    <input value="@Listvalue" id="@Name" type="text" class="validate" name="@Name">
                    <label class="active" for="@Name">@Name </label>
                </div>
                <div class="input-field col s6">
                    <input value="@priority" id="@PName" type="number" class="validate" name="@PName">
                    <label class="active" for="@PName">@PName </label>
                </div>
                Listcount++;
                Giftlist.Add(Listvalue);
                Priority.Add(priority);

            }
            if (Giftlist.Count != 0 && Giftlist[0] != null)
            {
                if (Giftlist.Last<string>() != "")
                {
                    db.Execute("insert INTO Gifts(Gift, GiftKey, Priority, Creator_Name, Creators_ListID) VALUES('', @0, '5000', @1, @2)", giftkey, Creator_Name, Numberlist);
                    refresh = true;
                }
            }

            giftkey = db.Query("Select GiftKey from Gifts where Creators_ListID = @0 AND Creator_Name = @1", Numberlist, Creator_Name);
            { }
            if (giftkey.Count != 0)
            {
                <div class="input-field col s12">
                    <input value="@giftkey[0].GiftKey" id="Giftkey" type="text" class="validate" name="GiftKey" required>
                    <label class="active" for="Giftkey">Giftkey</label>
                </div>
            }
            if (Request["GiftKey"] != null)
            {
                refresh = true;
            }
        }

        <div class="row col s4 m4 l4">

            <button class="btn waves-effect waves-light" type="submit" name="submit">
                Submit
                <i class="material-icons right">send</i>

            </button>
        </div>
    </form>
    <!--Side NAV for Users-->
    <ul id="slide-out" class="side-nav">

        <li>
            <a class="waves-effect" href="~/index.cshtml">Home <i class="material-icons">home</i></a>
        </li>
        @{if (WebSecurity.IsAuthenticated == false)
            {
                <li>
                    <a class="waves-effect" href="~/Account/LoginPage.cshtml"> LogIn  </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="waves-effect" href="~/Account/SignIn.cshtml">Signin</a>
                </li>
            }
            else
            {
                <li>
                    <a class="waves-effect" href="~/Account/Logout.cshtml">Logout <i class="material-icons">Logout</i></a>
                </li>

            }
        }
    </ul>




    <!--C#-->
    @{
        AddGift = "";
        Session["GiftList"] = Giftlist;
        Session["SPriority"] = Priority;
        Session["GiftKey"] = giftkey;

        if (Request["ChooseList"] != null)
        {

            Session["NumberList"] = Request["ChooseList"]; ;
            //string test = Request["ChooseList"];
            //Clist = Session["NumberList"] as string;
        }
        else
        {

            Session["NumberList"] = Numberlist;
        }

        if (Request["Newlist"] != null)
        {
            Session["NumberList"] = Newlist;
            refresh = true;
        }
        if (refresh == true)
        {
            Response.Redirect("~/Members/AccountPage");
        }

    }

    <!--Scripts-->
    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav();
        // initialize select dropdown
        $(document).ready(function () {
            $('select').material_select();
        });

    </script>
</body>

</html>