@using WebMatrix.WebData;

@{
    WebMail.SmtpServer = "smtp.gmail.com";
    WebMail.SmtpPort = 25;
    WebMail.EnableSsl = true;
    WebMail.UserName = "buzzzerz2@gmail.com";
    WebMail.Password = "Jolanda1";
    WebMail.From = "buzzzerz2@gmail.com";

    var Email = "";
    var Forename = "";
    var Surname = "";

    var message = "";
    if (IsPost)
    {
        AntiForgery.Validate();
    }

    Email = Request["Email"];
    var Password = Request["Password"];
    var ConfirmPassword = Request["ConfirmPassword"];
    Forename = Request["Forename"];
    Surname = Request["Surname"];


    //VALIDATION
    Validation.RequireFields("Password", "ConfirmPassword");

    Validation.Add("Password", Validator.StringLength(16, 6));
    if (ConfirmPassword != Password)
    {
        Validation.AddFormError("Sorry passwords do not match");
    }


    //ATTEMPT TO CREATE THE ACCOUNT
    if (Validation.IsValid())
    {
        try
        {
            var user = new { Forename = Forename, Surname = Surname };
            var token = WebSecurity.CreateUserAndAccount(Email, Password, user, false);
            var confirmationMessage = "Thank You for registering, please confirm your account at: " + Request.Url.GetLeftPart(UriPartial.Authority) + "~/Account/ConfirmAccount?token=" + HttpUtility.HtmlEncode(token);
            WebMail.Send(to: Email, subject: "Please confirm account", body: confirmationMessage, isBodyHtml: true); message = "Thank You! Your account has been created you must confirm your account please check your email.";
            message = "Thank You! Your account has been created you must confirm your account please check your email.";
            Response.Redirect("~/Members/AccountPage");

        }

        catch (Exception ex)
        {
            message = ex.Message;
        }
    }




}




<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Render Shared Header-->
    @RenderPage("~/Shared/_Header.cshtml")

    <!-- Page Layout here -->
    <!--SignIn Form-->


    <div class="row">
        <form method="post">
            @AntiForgery.GetHtml()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="input-field col l6 m6 s6">
                    <input name="Forename" id="Forename" type="text" class="validate" value="@Forename" required>
                    <label for="Forename">Forename</label>
                </div>
                <div class="input-field col l6 m6 s6">
                    <input name="Surname" id="Surname" type="text" class="validate" value="@Surname" required>
                    <label for="Surname">Surname</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 m6 s6">
                    <input name="Password" id="Password" type="password" class="validate" value="@Password" required>
                    <label for="password">Password</label>


                </div>
                <div class="input-field col l6 m6 s6">
                    <input name="ConfirmPassword" id="ConfirmPassword" type="password" class="validate" value="@ConfirmPassword" required>
                    <label for="ConfirmPassword">ConfirmPassword</label>

                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="Email" id="email" type="email" class="validate" value="@Email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light red" type="submit" name="action">
                SignIn
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>

    <!--Side NAV for Users-->
    <ul id="slide-out" class="side-nav">
        @{if (WebSecurity.IsAuthenticated == false)
            {
                <li>
                    <a class="waves-effect" href="~/index.cshtml">Home <i class="material-icons">home</i></a>
                </li>
                <li>
                    <a class="waves-effect" href="~/Account/LoginPage.cshtml"> LogIn  </a>
                </li>
            }
            else
            {
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="waves-effect" href="~/Members/AccountPage.cshtml">Account <i class="material-icons">face</i></a>
                </li>
            }
        }
    </ul>

    <!--Scripts-->
    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav();
    </script>
</body>

</html>